<h1>Hello, world!</h1>
<p>This is a file from the xml template section</p>

<h1>Templating</h1>
<dl>
    <dt>target type</dt><dd>{{isApp}}</dd>
    <dt>controller name</dt><dd>{{controller}}</dd>
    <dt>method name</dt><dd>{{method}}</dd>
    <dt>parameters</dt><dd>{{params}}</dd>
</dl>

<h1>Router</h1>
<ul>
    <li><a href="app://first/method?p1=x&p2=y">Test one</a></li>
    <li><a href="app://second/otherMethod?p1=a&p2=b">Test two</a></li>
    <li><a href="app://home">Home</a></li>
    <li><a href="javascript:manager.showTitle('Important message!')">Run Android code</a></li>
    <li><a href="javascript:alert('just a little hello')">Show alert as toast message</a></li>
    <!-- fill up some space -->
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>Scrolling works, huh?</li>
</ul>