<h1>Hello, world!</h1>
<p>This is a file from the xml template section</p>

<h1>Templating</h1>

<p>This is {{an}} example of {{multiple}} replacement{{s}} in a single {{line}}.</p>
<p>This is&nbsp;
{{an}} example of starting a line with a hole,
    and having a hole at the end of a {{line}}
</p>

<h1>Router</h1>
<ul>
    <!-- links to Java code in the android app should start with app://
         the first element in the path is the name of the controller, second is method.
         Query params are passed to controller methods as a Map<string,string>.
         Controller methods have access to the whole request if you need more.

         If no method is given, it defaults to 'index'

         See ControllerBindings.BindAllControllers to add new controllers and methods.
         -->
    <li><a href="app://home/testOne?p1=x&p2=y">Test one</a> Back escape</li>
    <li><a href="app://home/testTwo?first">Test two</a> Journey</li>
    <li><a href="app://home">Home</a></li>

    <!-- You can use 'file://...' but it's tricky. So we provide 'asset://...'
         to directly use asset files -->
    <li><a href="asset://styles/default.css">Default css file</a></li>

    <!-- See core.JsCallbackManager for `showTitle` call -->
    <li><a href="javascript:manager.showTitle('Important message!')">Run Android code (in this case, show a prominent message)</a></li>

    <!-- We capture alert calls to show small confirmation messages - like 'Save' or 'Sent successfully'
         Don't use this for messages that will block the user, like 'login failed'. Those should use the
         `manager.showTitle()` call instead -->
    <li><a href="javascript:alert('just a little hello')">Show alert as toast message</a></li>
    <!-- fill up some space with a repeater
         note that the '{{for:...}}' and '{{end:...}}'
         MUST be on their own line, with no other text, elements, or comments. -->
    {{for:listThing}}
        <!-- '{{item:...}}' is used to get values from the field of the closest '{{for:...}}'
             You can't read from a parent 'for'. Extend your view model instead -->
        <li>{{item:exampleField}}</li>
    {{end:listThing}}
    {{for:an}}
        <li>I only show when 'an' is not null</li>
        <!-- for blocks can nest, but NOT inside any other block for the same item -->
        {{for:falseValue}}
            <li>I only show when 'falseValue' is not false. So you can't see me?!</li>
        {{end:falseValue}}

        {{for:trueValue}}
        <li>I only show when 'trueValue' is not false. So you can see me.</li>
        {{end:trueValue}}
    {{end:an}}
    {{for:nullValue}}
    <li>I only show when 'nullValue' is not null. So you can't see me?!</li>
    {{end:nullValue}}
    <li>Scrolling works, huh?</li>
</ul>

<h1>Bad Input</h1>
<p>These are various tests to check the template engine can handle bade inputs</p>
<p>Junk line {{line</p>
<p>Junk line {{line}</p>
<p>Junk line {{line </p>}}
{{for:listThing}}not empty!
not empty{{for:listThing}}not empty!
not empty{{for:listThing}}

<!-- nesting of the same input is not supported -->
{{for:listThing}}
{{for:listThing}}

<!-- non-simple nesting (can't end an outer 'for' before the inner one) -->
{{for:line}}
{{end:listThing}}
<!-- ends without starts -->
{{end:listThing}}
{{end:listThing}}
<!-- end for something that didn't start -->
{{end:line}}
<p>Junk line {line}}</p>
<p>Junk line {{</p>
<p>Junk line {{}</p>
<p>Junk line {}}</p>
<p>Junk line {{}}</p>

<tt>[end of page]</tt>