<h1>Hot load and load count</h1>
<a href="app://home">Home</a>
<h2>This page has been requested <_>LoadCount</_> times.</h2>
<p>
    The count above increments each time the <i>Controller</i> is called
    to render this page. This is the equivalent of your app doing some kind
    of 'action' or performing a request. Test.
</p>
<p>
    If you go back to the <a href="app://home" class="small-link">Home page</a>
    and visit this page again, the number &quot;<_>LoadCount</_>&quot; should increase.
</p>
<p>
    However, if you open the file at <code>assets/views/test/loadCountView.html</code>
    and edit it (causing a <i>hot reload</i>) then the number should <b>not</b>
    increase. This demonstrates that the controller was not called again, and the
    existing page was simply re-loaded.
</p>
<p>
    You can also trigger a hot-reload by editing any of the assets that the
    current page has loaded, such as the styles at <code>assets/styles/default.css</code>
    or the background image.
</p>
