<h1>Permission Visibility</h1>
<a href="app://home">Home</a>
<p>
    This feature is not yet implemented
</p>
<p>
    <!-- Using 'needs':
         Note that the '{{needs:...}}' and '{{end:needs}}'
         MUST be on their own line, with no other text, elements, or comments.
         The template engine isn't very smart, and it will try honour 'needs' groups if it finds them in comments.
         -->

    You can gate parts of a view
    {{needs: perm1, perm2}}
    to specific permissions
    {{end:needs}}
    while exposing others to any user.

    The items gated by a permission
    {{needs: perm1, perm2}}
    Can be <a href="app://home" class="small-link">links</a> and other HTML,
    {{needs: perm1}}
    <br/>Or partial views:
    {{view: url=app://examples/url-view?text=You%20have%20permission%20one}}
    {{end:needs perm1}}
    {{end:needs perm1, perm2}}
</p>
<p>
    If you don't have a given permission,
    {{needs: not-a-permission}}
    <b>WAGGA! GABBA! BOGGO!</b>
    {{end:needs not-a-permission}}
    the HTML is continued without the gated content, <b>and</b> without any other mark-up;
    so be sure to check you view with and without each set of permissions.
    <!--

    Plans:

        - each listed permission is an 'or' -- any permission in the set gives access
        - permission 'needs' groups can be nested
        - the permissions object is static, and shared across the whole app.
          -> there should be a hook to populate it on log-in, and clear it on log-out.
          -> there should be an identity string that is accessible to controllers to show user name (if any)
        - would be good to annotate the controllers in a similar way

    -->
</p>