<h1>Test of model paths</h1>
<a href="app://home">Home</a>
<p>
    This page contains a set of template replacement samples.
    You can look in the file at <tt>assets/views/examples/templating-examples.html</tt>
    to see how it works in code, and for some extra notes.
</p>

<h2>Templating</h2>

<p>This is <_>an</_> example of <_>multiple</_> replacement<_>s</_> in a single <_>line</_>.</p>
<p>This is
<_>an</_> example of starting a line with a hole,
    and having a hole at the end of a <_>line</_>
</p>
<p> 3x 's': <_>s</_><_>s</_><_>s</_> <br/> 3x 's': <_>s</_><b><_>s</_></b><_>s</_> </p>
<p>
    You can use dotted paths to reach into objects. It's better to avoid this and
    have a simpler flat structure -- but the feature is available: <i><_>pathPoints.name</_></i>.
    You can reach into more complex structures like
    <tt>nestedRepeat.0.children.1 = &quot;<_>nestedRepeat.0.children.1</_>&quot;</tt>
    (note iterables are zero-indexed)
    or
    <tt>mapNest.myKey.name = &quot;<_>mapNest.myKey.name</_>&quot;</tt>,
    but this is slower to render and more complex to use.
</p>
<h2>for: and item:</h2>
<p>Look at the html template to see how this works</p>
<ul>
    <!-- After the 'for:', give the name of a field in the model.
         If the object is a list (or other kind of `Iterable`)
         the contents will be repeated for each item.
    -->
    <_for listThing>
        <!-- If a path starts with '#', it is used to get values from the field of the closest '<_for...'
             You can't read from a parent 'for'. Extend your view model instead -->
        <li><_>#.exampleField</_></li>
    </_for>

    <_for an>
        <li>I only show when 'an' is not null</li>

        <!-- for blocks can nest -->

        <!-- If the object is a boolean, the contents will show only
             when the value is `true` -->
        <_for falseValue>
            <li>I only show when 'falseValue' is not false. So you can't see me! ### FAULT IF YOU SEE THIS ###</li>
        </_for>

        <_for trueValue>
            <li>I only show when 'trueValue' is not false. So you can see me.</li>
        </_for>
    </_for>

    <!-- If the object is anything other than a boolean or iterable,
         the contents are shown only once, and
         only if the object is not null -->
    <_for nullValue>
        <li>I only show when 'nullValue' is not null. So you can't see me?!</li>
    </_for>
</ul>

<h2>Complex repeating</h2>
<p>Here we iterate over an object, and then iterate through child objects.</p>
<_for nestedRepeat>
    <h4><_>#.name</_></h4>
    <p>This is <_>#.name</_> it has child items:</p>
    <ol>
        <_for #.children>
            <!-- Note that <_>#...</_> *here* can only refer to items in `nestedRepeat.children`
                 You can't access multiple levels at once. If you find you need this, copy
                 references down from upper to lower objects in your model. -->
            <li><_>#</_></li>
        </_for>
    </ol>
</_for>

<h2>Fallback 'else'</h2>
<p>
    Each <code>&lt;_for ...&gt;</code> block can have an <code>&lt;_else ...&gt;</code>
    If the 'for' block would show no items (i.e. the object is null, empty, or false), then
    the contents of the 'else' section will show.
</p>
<ul>
    <_for emptyList>
        <li><_>field</_></li> <!-- model.field -->
        <li><_>#</_></li> <!-- the repeater item itself -->
        <li><_>#.field</_></li> <!-- for->item.field -->
        #### YOU SHOULD NOT SEE THIS ####
    </_for>
    <_else> <!-- there should be no other elements between a <_for> and its <_else>. Whitespace is ok -->
        <li>There are no items in this list</li>
    </_else>
</ul>
<p>
<_for trueValue>
    You should see this.
</_for>
<_else>
    #### YOU SHOULD NOT SEE THIS ####
</_else>
</p>
<p>
    The 'for' section and 'else' section of a <code>&lt;_for ...&gt;</code> are exclusive,
    and will never show at the same time.
</p>

<h2>Templating in HTML and Scripts</h2>
<p>
    If you need to inject a model value into a script or
    <!-- if you're looking at the code, it's '{{' and '}}' -->
    a HTML attribute, you can use 'moustaches':<br/><code>{&ZeroWidthSpace;{</code> and <code>}&ZeroWidthSpace;}</code>
</p>
<p>
    The result of this kind of injection is the same as using normal templates:
    <_>listThing.0.text</_> <i>vs.</i> {{listThing.0.text}}
</p>
<p>
    However, the moustache style replacements happen <b>before</b> the template is
    parsed, so they can be put anywhere, including within HTML template tags:
    <_view url="app://examples/url-view?text=Like%20{{listThing.1.text}}"></_view>
</p>