
/* put a backdrop image on all pages */
html {
    background: url("asset://images/backdrop.png") no-repeat center center fixed;
    background-size: cover;
}


/* Make all links like buttons */
a {
    display: inline-block;
    background: linear-gradient(#77f,  #00c);
    border: 1px solid #006;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin: 2px;
    font-size: large;
}
/* indent on press */
a:active {
    background: linear-gradient(#00a,  #55e);
}

/* Small version of link button for inline with text */
.small-link{
    padding: 3px;
    font-size: initial;
}

/* Make monospaced text stand out */
code {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #eee;
    font-size: large;
    color: #700;
    font-face: fixed;
}

/* Make submit button bigger */
input[type=button],
input[type=submit]{
    display: inline-block;
    background: linear-gradient(#77f,  #00c);
    border: 1px solid #006;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin: 2px;
    font-size: large;
}
/* indent on press */
input[type=button]:active,
input[type=submit]:active{
    background: linear-gradient(#00a,  #55e);
}

/* Make text boxes bigger */
input[type=text] {
    font-size: large;
    padding: 5px;
    margin: 2px;
    border: 1px solid #888;
    border-radius: 5px;
}
/* more visible focus rectangle */
input[type=text]:focus {
    margin: 0px;
    border: 3px solid #88f;
}


/* SVG background for a demo */

.globe-bg{
    background: url("asset://images/example.svg");
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

.badge-bg{
    background: url("asset://images/badge.svg");
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}