/* Make all links like buttons */
a {
    display: inline-block;
    background-color: #00c;
    border: 1px solid #006;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

/* put a backdrop image on all pages */
html {
    background: url("asset://images/backdrop.png") no-repeat center center fixed;
    background-size: cover;
}